/* border-radius: 25px */

.grid-container {
    max-width: var(--max-width);
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    

    background-color: var(--static7);
    
}
    
.grid-cell {
    border-radius: 25px;
    flex-grow:1;
    min-width: calc(var(--max-width)/var(--visible-grid-items));
    height: calc(var(--max-width)/var(--visible-grid-items));
    border: 1px solid black;
    box-sizing: border-box;
}

.grid-cell-content-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.grid-cell-content-container img{
    width: 50px;
    height: 50px;
}