/* border-radius: 25px */

.grid-container {
    max-width: var(--max-width);
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    

    
}
    
.grid-cell {
    border-radius: 25px;
    /* background-color: var(--static7); */
    flex-grow:1;
    min-width: calc(var(--max-width)/var(--visible-grid-items) - 20px);
    max-width: calc(var(--max-width)/var(--visible-grid-items) - 20px);
    height: calc(var(--max-width)/var(--visible-grid-items));
    box-sizing: border-box;
    margin: 10px;
    transition: transform 150ms ease-out;
}

.grid-cell:hover {
    transform: scale(1.02);
}

.grid-cell-content-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    box-sizing: border-box;
}

.grid-cell-content {
    display: flex;
    width: 90%;
    height: 80%;

    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid-cell-img {
    width: 100%;
    height: 100%;

    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
}

.grid-cell-link {
    border-radius: 25px;
    width: 75px;
    height: 35px;
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;

    transition: width 150ms ease-out, letter-spacing 150ms ease-out;
}

.grid-cell-link:hover {
    width: 85px;
    letter-spacing: .05rem;
}

.grid-cell-link a {
    color: var(--static8);
}

.grid-cell-link a:hover {
    color: var(--background);
}

.grid-container h5 {
    padding: 10px 0 10px 0;
}